@import "../../../../colors.css";

.right-shop {
  flex: 4;
  /* background-color: var(--shade-5); */
  padding: 20px;
  height: 90vh;
}

.right-shop h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
