@import "../../colors.css";

.cart-button {
  display: inline-block; /* Make the button shrink-wrap its content */
  background-color: var(--shade-16);
  color: var(--shade-13);
  background-color: transparent;
  border: 1px solid var(--shade-13);
  padding: 0.5em 2.5em; /* Use relative units for padding */
  font-size: 1.5rem;
  border-radius: 1.5em; /* Use relative units for border-radius */
  transition: background-color 0.3s; /* Add a transition for smooth color change */
}

.cart-button:hover {
  background-color: var(--shade-16);
  color: var(--shade-1); /* Change the color on hover to shade 24 */
}
