@import "../../colors.css";

.navbar {
  background-color: #f0f0f0;
  padding: 10px;
  animation: fade-in-out 0.5s;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  flex: 1;
}

.middle-section {
  flex: 1;
  text-align: center;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  scale: 0.6;
}

.middle-section ul,
.right-section ul {
  list-style: none;
  padding: 0;
}

.middle-section li,
.right-section li {
  display: inline-block;
  margin: 0 10px;
}
