@import "../../colors.css";

.navbar {
  animation: fade-in-out 0.5s;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  flex: 1;
}

.middle-section {
  flex: 2;
  text-align: center;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  scale: 0.6;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.3);
}

.link {
  display: flex;
  align-items: center;
  color: var(--shade-10);
  text-decoration: none;
  font-size: x-large;
}

.link.active {
  font-weight: bolder;
}

.middle-section ul,
.right-section ul,
.left-section ul {
  list-style: none;
  padding: 0;
}

.middle-section li,
.right-section li,
.left-section li {
  display: inline-block;
  margin: 0px;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
