@import "../../colors.css";
/* Style for the top section */
.top-shop {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--shade-5);
  margin: 1.5em;
  border-radius: 1.5em;
}
.shop-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.scrollable-items {
  flex-grow: 1;
}
/* Style for the bottom section */
.bottom-shop {
  display: flex;
  flex: 1;
}
.category {
  opacity: 0;
  animation: bounce-fade 0.3s ease-in-out forwards;
  background-color: transparent;
}

.selected-category {
  font-weight: bold;
  cursor: pointer;
}

.top-shop h2:not(.selected-category) {
  font-weight: normal;
  cursor: pointer;
}

@keyframes bounce-fade {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    transform: translateY(-10px);
    opacity: 0.2;
  }
  40% {
    transform: translateY(-20px);
    opacity: 0.4;
  }
  60% {
    transform: translateY(-10px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
