@import "../../../../colors.css";

.left-shop {
  flex: 1;
  padding: 1.5em;
  height: auto;
}

.left-box {
  background-color: var(--shade-5);
  height: auto;
  padding: 1.5em;
  border-radius: 1.5em;
}
