@import "../../../../colors.css";

.left-shop {
  flex: 1;
  padding: 1.5em;
  height: auto;
  animation: fadeIn 0.8s ease-in-out forwards;
}

.left-box {
  background-color: var(--shade-5);
  height: auto;
  padding: 1.5em;
  border-radius: 1.5em;
  padding-bottom: 3em;
}

/* Keyframes for the opacity animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
