.dropdown-box {
  display: flex;
  background: none;
  justify-content: space-between;
  padding: 2rem;
}

.dropdown-box h2,
select {
  background: none;
}

/* Style the <select> element */
select#dropdown {
  padding: 0.4em;
  font-size: 1rem;
  border-radius: 1em;
  background-color: var(--shade-8);
  /* Hide the dropdown arrow */
  -webkit-appearance: none; /* For Safari and newer versions of Chrome */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* For newer versions of Chrome, Edge, and other modern browsers */
}

/* Style the <option> elements */
select#dropdown option {
  padding: 1.2em;
  text-align: center;
  /* Define your desired styles here */
  background-color: transparent;
}

/* Style the selected <option> element */
select#dropdown option:checked {
  /* Define your desired styles here */
  background-color: var(--shade-5);
}
