@import "../../colors.css";

.line-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin: 0.5em;
}

.line {
  background-color: var(--shade-14);
  border-radius: 10px;
  height: 1px;
  width: 0; /* Initial width set to 0 */
  opacity: 0; /* Initially hidden */
}

/* Animation to make the line expand after a delay */
@keyframes expandLine {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 90%;
    opacity: 1;
  }
}

/* Class added when the Line component enters the view to trigger the animation */
.animate-line {
  animation: expandLine 0.6s 0.3s forwards;
}
