@import "../../colors.css";

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--shade-3);
  padding: 3em;
  opacity: 0;
}

.slide-up-animation {
  animation: slide-up 0.4s ease-out 0.3s forwards;
}

.right-footer {
  display: flex;
  flex-direction: column;
  background: none;
  justify-content: center;
  align-items: center;
}

.left-footer {
  background: none;
}

.left-footer h2 {
  position: relative;
  left: 0.4em;
}

.left-footer p {
  font-size: 1.6em;
}

.footer h2,
img,
.socials {
  background: none;
}

.right-footer img {
  scale: 0.7;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
